*{
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    color: #3a3337;           
    font-size: 60px;
}
h2{
    font-size: 50px;
    text-align: center;
    color: #3a3337;
    text-shadow: 3px 3px 3px #ffffff;
    padding: 1rem 0rem 1rem 0rem;   
}
p{
    font-size: 30px;
    text-align: center;
    color: #3a3337;
    padding: 1rem 0rem 1rem 0rem;
}